/* Global */
body {
	font-family: 'lato', sans-serif;
	    background-color: #fdfdfd;
}
a:hover {
	text-decoration: none
}
.pagination-centered {
    text-align: center;
}
table th {
   text-align: center; 
}
/* Start Content */
.content-header .breadcrumb {
	margin: 2.16rem 0;
	background-color: transparent;
	padding: 0
}
.content {
    border-left: 1px solid #d3e0e9;
    height: 100vh;
}
/* End Content */

/* Start Admin Social Network Icons */
.social-admin ul li {
	float: left;
	margin: 0 6px
}
.social-admin a {
	background-color: #eae7e7;
	width: 32px;
	height: 32px;
	line-height: 32px;
	display: block;
	color: #000000;
	text-align: center;
	border-radius: 50%;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2 s ease-out;
	-ms-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}
.social-admin a.fa.fa-facebook:hover {
	background-color: #3b5998;
	color: #FFF;	
}
.social-admin a.fa.fa-twitter:hover {
	background-color: #00aced;
	color: #FFF;	
}
.social-admin a.fa.fa-linkedin:hover {
	background-color: #1B88C9;
	color: #FFF;	
}
/* End Admin Social Network Icons */
